<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список продуктів</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Список продуктів</h1>
<table id="productsTable">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Опис</th>
        <th>Виробник</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Категорія</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    const products = {{productsJson}};

    document.addEventListener('DOMContentLoaded', () => {
        const tableBody = document.getElementById('productsTable').getElementsByTagName('tbody')[0];

        products.forEach(product => {
            const row = document.createElement('tr');

            const nameCell = document.createElement('td');
            nameCell.textContent = product.name;
            row.appendChild(nameCell);

            const descriptionCell = document.createElement('td');
            descriptionCell.textContent = product.description;
            row.appendChild(descriptionCell);

            const producerCell = document.createElement('td');
            producerCell.textContent = product.producer;
            row.appendChild(producerCell);

            const amountCell = document.createElement('td');
            amountCell.textContent = product.amount;
            row.appendChild(amountCell);

            const priceCell = document.createElement('td');
            priceCell.textContent = product.price;
            row.appendChild(priceCell);

            const categoryCell = document.createElement('td');
            categoryCell.textContent = product.category;
            row.appendChild(categoryCell);

            tableBody.appendChild(row);
        });
    });


</script>
</body>
</html>
